<h3>Account</h3>

<div>
   <p>userid is <%= userid %></p>
   <p>email is <%= email %></p>
   <div>
      <form id="quick_game" action="/quick_game" method="POST">
         <input type="submit" value="Quick Game"/>
      </form>
   </div>
</div>
