<div>
   <h2>Available Games</h2>
   <table id="available_games">
      <thead>
         <tr>
            <td>Game ID</td>
            <td>Player 1</td>
            <td>Player 2</td>
         </tr>
      </thead>
      <tbody>
      </tbody>
   </table>

</div>
<div id="game_options">
   <button id="new_game">Create New Game</button>
   <button id="ai_game">Single Player Game</button>
</div>
