<h1>SPACE GAME</h1>
<div id="main_div">
   <a href="register">Register</a><br/>
   <form id="login" action="/login" method="post">
      <label>Email
      <input type="email" name="email" />
      </label><br/>
      <label>Password
      <input type="password" name="password" />
      </label><br/>
      <input type="submit" value="Login" />
   </form>
   <span id="end_button" style="cursor: pointer; text-decoration: underline">
   END TURN
   </span>
   <div id="player_action">
   </div>
</div>
