<!DOCTYPE html>
<html>
<head>
   <title>Space Game</title>
   <link rel="stylesheet" type="text/css" href="/css/base.css"/>
   <%= yield_content :style %>
   <script type="text/javascript" src="/js/jquery-2.1.1.js"></script>
   <%= yield_content :scripts %>
</head>
<body>
   <div id="main_wrapper">
   <%= yield %>
   </div>
</body>
</html>
