<!DOCTYPE html>
<html>
<head>
   <title>Space Game</title>
   <script type="text/javascript" src="/jquery-2.1.1.js"></script>
   <script type="text/javascript" src="/main.js"></script>
</head>
<body>
   <%= yield %>
</body>
</html>
