<div>
   <h2>Register to play Empty Galaxy</h2>
   <form name="register" action="/register" method="post">
      <label>Email
      <input type="email" name="email" id="email" />
      </label><br/>
      <label>Password
      <input type="password" name="password" id="password" />
      </label><br/>
      <input type="submit" value="Register"/>
   </form>
</div>
