<div>
   <!-- list of ships that can be chosen -->
   <% ships.each do |ship| %>
      <%= ship[:model] %><br/>
      <!-- use an ajax call to create a ship in the database from this model -->
   <% end %>
</div>
